
* {
    font-family: 'Quicksand',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    font-size: 14px;
    color: #252a2b;
    overflow-x: hidden;
    background: #fff;
    position: initial !important;
}

#topbar {
    height: 30px;
    overflow: hidden;
    background: #f2f2f2;
    font-size: 14px;
    padding: 4px 0;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}


ul {
    display: block;
    /* list-style-type: disc; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul li {
    display: inline;
}

a {
    color: #252a2b;
    text-decoration: none;
    outline: none;
}

.icon-1-top {
    background-image: url(../images/phone-contact.png);
}

.icon-4-top {
    background-image: url(../images/account.png);
}

.icon-5-top {
    background-image: url(../images/shopping-cart.png);
}

.iconTop {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    float: left;
    background-size: cover;
}
.wrap-logo {
    margin: 5px 0;
}

.wrap-logo img {
    min-height: 23px;
    max-height: 45px;
}

.top_bar_right {
    float: right;
}

.innerTopLeft {
    float: left;
}

.title-info-top {
    margin-right: 20px;
    float: left;
    color: black;
    margin: 2px 0 0 5px;
    font-size: 13px;
}

.innerTopRight {
    float: right;
}

#sidebar {
    position: fixed;
    width: 480px;
    height: 800vh;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 8888;
    display: none;
    -ms-transition: transform .5s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: transform .5s cubic-bezier(.25,.46,.45,.94);
    transition: transform .5s cubic-bezier(.25,.46,.45,.94);
}

#menu {
    padding: 4px 0;
    padding-left: 30px;
}

.main-index {
    position: relative;
    z-index: 99;
}

.banner {
    /* height: 400px; */
}

#sectionBannerHome {
    margin: 50px 0 0;
}

.marginTopbanner {
    margin: 8% 0 0;
}

.wrapper-new {
    max-width: 1375px;
    margin: 0 auto;
    padding: 0 40px;
}

.marginTopbanner {
    margin: 8% 0 0;
}

.animateBanner a {
    position: relative;
    display: block;
    overflow: hidden;
    border: 1px solid #f0f0f0;
}

img.lazyloaded {
    opacity: 1;
    transition: .3s;
}

/* cart */
.site-nav-container-last {
    padding-top: 40px;
}

.site-nav-container-last .title {
    font-size: 14px;
    text-transform: uppercase;
    margin: 3px 0 0;
    font-weight: 500;
}

.site-close-handle {
    position: absolute;
    top: 55px;
    right: 18px;
    width: 35px;
    height: 35px;
    z-index: 999;
    background: 0 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    -ms-transition: transform .15s linear;
    -webkit-transition: transform .15s linear;
    transition: transform .15s linear;
}


#cartTotal {
    width: 100%
}
.textCartSide {
    float: left;
    width: 100%;
    margin: 5px 0 0;
    border-bottom: 1px dotted #bcbcbc;
    padding: 0 0 15px;
}

.cart-view .line {
    float: left;
    width: 100%;
    border-top: 2px solid #000;
    margin: 10px 0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

#checkout {
    padding: 10px 30px;
    width: 100%;
    white-space: nowrap;
    float: left;
    background: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container-fluid {
        padding: 0 15px;
    }
    .innerTopLeft {
        font-size: 12px;
    }
    .innerTopRight {
        font-size: 12px;
    }

    .innerTopRight li {
        margin: 0 0 0 10px;
    }
    .innerTopLeft span {
        margin: 0 0 0 10px;
    }
}
